<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>main.html</title>
</head>
<body>
    <h1>main page</h1>

    <h3>welcome, <%= id %>번째 고객님 !!</h3>

    <p>blablabla</p>

    <img src="images/crong.jpg" alt="" width ="300px">
    <script src="main.js"></script>
    
</body>
</html>